/api/.vs
*.dll
/api/bin
/api/bin/Debug
/api/obj/Debug
api/obj/Debug/net8.0/api.AssemblyInfoInputs.cache
api/obj/Debug/net8.0/api.assets.cache
api/obj/Debug/net8.0/api.csproj.AssemblyReference.cache
api/obj/Debug/net8.0/api.GeneratedMSBuildEditorConfig.editorconfig
